*{
    font-family: "Kode Mono";
        padding: 0;
        box-sizing: border-box;
            user-select: none;
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
            scrollbar-width:none; 
        -ms-overflow-style: none;
}


.profileContainer{
    
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#D3DACF;
    height: 10vh;   

    .sub1{  
        font-size: 70%;
        background-color: #D3DACF;
        left: 5%;
        position: relative;
    }

    .locationContainer{
        display: grid;
        position: relative;
        right: 8%;
        grid-template-columns:   1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr 2fr;
        place-items: center;

        .locationicon{
            color: rgb(0, 0, 0);
            grid-column: 6/7;
            grid-row: 3/4;
            width: 20px;
            height: 30px;
            transition: color 0.4s ease-in-out;
            &:hover{
                cursor: pointer;
            }
        }

        .locTrue{
            color: red;
        }
        .loc{
            grid-column: 2/6;
            grid-row: 3/4;
            
          
        }


        .setLocationC{
            border-radius: 5%;
            background-color: rgb(255, 255, 255);
            justify-self: stretch;
            align-self: stretch;
            display: flex;
            flex-direction: column;
            justify-content: center;
            position: relative;
            top: 10px;
            left: 30px;
            align-items: center;
            z-index: 1;
            grid-column: 1/6;
            grid-row: 2/5;

            button{
                width: 1fr;
                font-size: small;
            }
        }
    }
}

.profileContainer  .sub2{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 10vh;
        position: absolute;
        right: 5%;
        background-color:  #D3DACF;       
}

    .beforeExp{
        height: 24px;
        width:24px;
        border-radius: 50%;   
        transform: scale(1.2);  
        transition: transform .3s ease-in-out;
        &:hover{
            cursor: pointer;
        }
    }

    .beforeExp.active{
       height: 24px;
       width: 24px;
       border-radius: 50%;
       transform: scale(1.5);
       &:hover{
        cursor: pointer;
       }
    }
    
   
    .afterExp{
        height: 40%;
        width: 40%;
        border-radius: 50%;
    }

  .sub2 .profileContainerMenu{
    position: absolute;
    width: 200px;
    height: auto;
    top:80%; 
    right:35%;
    background-color: #F1F1F1;
    border-radius: 5%;
    z-index: 1;

    .dpDetails{
        display: block;
        text-align: center;
        font-size: 1rem;
        padding: 10px;
        background-color: rgb(255, 255, 255);
        border-top-left-radius: 5%;
        border-top-right-radius: 5%;
        border-top-style: none;
        border-right-style: none;
        border-bottom-style: ridge;
        border-left-style: none;
        border-width: 2px;
        border-color: #191919;
    }

    .profileMenu{
        background-color: #F1F1F1;
        border-bottom-left-radius: 5%;
        border-bottom-right-radius: 10%;
        padding-left: 5px;
        
        li{
            font-size:medium;
            padding-top: 8px;
            margin-bottom: 6px;
            background-color: #F1F1F1; 
            transition: background-color .3s ease-in-out;           
        }

        li:hover{
            background-color: #D8D8D8;
        }

        li a{
            text-decoration: none;
            color: #191919;
        }
        .menuIcons{
            padding-right: 5px;
        }
    }
  }
  .sub2 .profileContainerMenu.show{
    background-color: F3E7E0;
    animation: showProfile 0.15s ease-in-out 0s 1 normal forwards;
}

@keyframes showProfile{
    from{
        transform: translateX(0);
        opacity: 0;
    }

    to{
        transform: translateX(0);
        opacity: 1;
    }
}
