.waste-collector-search-container {
    background-color: #d3dacf; /* Light green background */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow effect */
  }
  
  .search-input {
    display: flex;
    align-items: center;
  }
  
  input[type='text'] {
    flex: 1;
    padding: 8px;
    border: 1px solid #6a816a; /* Dark green border */
    border-radius: 4px;
  }
  
  .searchButton {
    margin-left: 10px;
    padding: 8px 16px;
    background-color: #6a816a; /* Dark green button background */
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .searchButton:hover {
    background-color: #4e644e; /* Darker green on hover */
  }
  