@media only screen and (max-width: 600px) {
    .sliderContainer{
        display: flex;
        background-color: #6A816A;
        justify-content: space-around;
        align-items: center;
        height: 30px;
        font-size: small;
        border-radius: 5px;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    }
    
    .slider{
        background-color: #6A816A;
        color: aliceblue;
        display: block;
        
    }
    
    .slider .progressBar{
        position: relative;
        width:0%;
        bottom: -4px;
        height: 5px;
        border-radius: 10px;
        background-color: rgb(0, 0, 0);
        transition: width 0.4s ease-in-out;
    }
    
    .slider .progressBar.show{
        width: 100%;
    }    
}

@media only screen and (min-width: 601px){

.sliderContainer{
    display: flex;
    background-color: #6A816A;
    justify-content: space-around;
    align-items: center;
    position: relative;
    height: 30px;
    font-size: 1rem;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

.slider{
    background-color: #6A816A;
    color: rgb(255, 255, 255);
    &:hover{
        cursor: pointer;
    }
}

.slider .progressBar{
    position: relative;
    width:0%;
    height: 5px;
    border-radius: 10px;
    background-color: rgb(0, 0, 0);
    transition: width 0.3s ease-in-out;
}

.slider .progressBar.show{
    width: 100%;
}
}