        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            display: block;
            /*background-image:url(../CSS/signupbg.webp);*/
             /* Adjust to your needs */
        }
        #logo {
            height: 3%;
            width: 3%;
            margin-top: .5%;
            margin-left: 1%;
        }
        header {
            background-color: #213f24eb;
            color: #fff;
            padding: 20px 0;
        }
        header nav .container {
          width: 80%;
          top: 0;
          margin: 0px auto;
          display: block;
        }
        nav ul {
            list-style: none;
            padding: 0;
        }
        nav ul li {
            display: inline;
            margin-right: 20px;
        }
        
        nav ul li a {
          color: #fff;
          text-decoration: none;
        }
        nav h1 a{
          text-decoration: none;
          color: #fff;
        }
        .tray {
            background-color: #f7f7f7;
            height: 0;
            width: 0vw;
        }
        .tray .container {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 50vh;
            width: 25vw;
            margin: 30px auto;
            padding: 20px;
            background-color: #fff;
            border-radius: 15px;
            box-shadow: 0 0 30px rgba(0,0,0,0.1);
        }
        .usertype {
            padding-top: 10px;
            padding-bottom: 10px;
            height: fit-content;
            width: fit-content;
        }
        .tray .container h1 {
            text-align: center;

        }
        input[type="email"], input[type="password"], input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin: 10px 0;
            border: 3px solid #ccc;
            border-radius: 10px;
            box-sizing: border-box;
        }
        input[type="email"]:hover, input[type="password"]:hover {
            border-color: #bebcbc;
        }
        input[type="submit"] {
            background-color: #4caf50;
            color: white;
            border: none;
            cursor: pointer;
        }
        input[type="submit"]:hover {
            background-color: #45a049;
        }
        a {
            color:#4caf50;
            text-decoration: none;
            font-size: 15px;
            font-style: normal;
        }

        .tray .container a:hover {
            color:green;
        }
